<app-top-nav (refreshDataEvent)="refreshData($event)"></app-top-nav>
<div class="container">
  <ng-container *ngIf="users$ | async as users; else loadingTemplate">
    <ng-container *ngIf="users.length > 0; else noUsersTemplate">
      <div class="row">
        <div class="col">
          <h4 class="mt-3">Showing {{ users?.length }} Records</h4>
        </div>
      </div>
      <div class="row">
        <ng-container *ngFor="let user of users">
          <div class="col-md-4">
            <app-user-card [user]="user"></app-user-card>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noUsersTemplate>
    <h4 class="alert alert-danger d-flex align-items-center mt-5" role="alert">
      <fa-icon [icon]="faTriangleExclamation"></fa-icon>
      <div class="mx-2">No users found!</div>
    </h4>
  </ng-template>

  <ng-template #loadingTemplate>
    <div class="row mt-5">
      <div class="col">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #errorTemplate>
    <p>An error occurred!</p>
  </ng-template>

  <router-outlet></router-outlet>
</div>
