<div class="card mt-4" *ngIf="user">
  <div class="card-body">
    <h5 class="card-title">{{ user.name }}</h5>
    <p class="card-text">
      {{ user.address?.street }} {{ user.address?.suite }}<br />
      {{ user.address?.city }} {{ user.address?.zipcode }}
    </p>
    <div class="d-flex flex-row-reverse">
      <button
        type="button"
        class="btn btn-sm btn-outline-danger"
        (click)="deleteUser(user)"
      >
        <fa-icon [icon]="faTrash"></fa-icon> Delete
      </button>
    </div>
  </div>
</div>
